@font-face {
    font-family: pusab;
    src: url(assets/fonts/pusab.ttf);
}


body {
    margin: 0;
    text-align: center;
    font-family: pusab;
    color: white;
    text-shadow: -1.5px -1.5px 0 black, 1.5px -1.5px 0 black, -1.5px 1.5px 0 black, 1.5px 1.5px 0 black;
    background-image: url("assets/background.png");
    background-repeat: repeat;
}

h1 {
    margin: 0;
    margin-top: 40px;
    font-size: 48px;
}

h3 {
    margin: 0;
    font-size: 35px;
    color: goldenrod;
}

p {
    margin: 0;
    font-family: helvetica;
    font-size: 18px;
    text-shadow: none;
    max-width: 600px;      /* Set a max width for the paragraph */
    margin: 20px auto;     /* Center the paragraph */
    white-space: normal;  
}

.stat_box {
    margin: 40px auto 0 auto;
    max-width: 600px;
    text-align: center; 
}

.user_stat_box {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.stat-text {
    margin: 0;
    margin-block: 2px;
    font-size: 29px;
    text-shadow: -1.5px -1.5px 0 black, 1.5px -1.5px 0 black, -1.5px 1.5px 0 black, 1.5px 1.5px 0 black;
    font-family: pusab;
}

.stat-img {
    margin: 0;
    width: 35px;
    transform: translate(-10px, 6px);
}

.description-box {
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.3);
    margin: 30px auto;
    padding: 24px 18px;
    max-width: 600px;
    width: 90%;
    word-break: break-word;    
}

.difficulty-face {
    width: 65px;
}

.gold {
    text-decoration: none;
    color: goldenrod;
}